/*reset all*/
*{
	margin: 0;
	padding: 0;
}

a:link {
	text-decoration: none;
	color: blue;
}
a:visited {
	text-decoration: none;
	color: blue;
}
a:hover {
	color: red;
}
a:active {
	text-decoration: none;
	color: blue;
}

header {
	text-align: center;
	margin: 10px 10px;
}

blockquote {
	margin: 10px 40px;
	padding: 20px 20px;
	background-image: linear-gradient(to bottom, lightgray, red);
}

.navbar {
	padding: 20px 20px;
	margin: 0px;
	text-align: right;
	background-image: linear-gradient(to bottom, lightgray, red);
}

.navbar li {
	display: inline;
	text-decoration: none;
	padding-right: 15px;
}

.navbar li a#resume {
	border: 1px blue;
	border-style: solid;
	border-radius: 5px;
	padding: 3px 4px;
}
.navbar li a#resume:hover{
	border-color: white;
	color: white;
}

.portrait {
	height: 200px;
	float: left;
}

.intro {
	display: inline-block;
	padding: 10px;
	margin: 10px;
}

.logoImage {
	height: 200px;
}

.sampleOutput {
	height: 200px;
}