/*
reset all
*/
*{
	margin: 0;
	padding: 0;
}

/*
Color Palette:
https://colorhunt.co/palette/222831393e4600adb5eeeeee
*/
:root {
	--primary: #222831;
	--secondary: #393E46;
	--accent: #00ADB5;
	--background: #EEEEEE;
}

a:link {
	text-decoration: none;
	color: var(--primary);
}
a:visited {
	text-decoration: none;
	color: var(--primary);
}
a:hover {
	color: var(--accent);
}
a:active {
	text-decoration: none;
	color: var(--primary);
}

body {
	background-color: var(--background); /* Light Blue */
	color: var(--primary);
}

header {
	text-align: center;
	margin: 10px 10px;
}

blockquote {
	margin: 10px 40px;
	padding: 20px 20px;
	background-color: var(--secondary);
	color: var(--background);
}

.navbar {
	padding: 20px 20px;
	margin: 0px;
	text-align: right;
	background-color: var(--secondary);
	color: var(--background);
}

.navbar li {
	display: inline;
	text-decoration: none;
	padding-right: 15px;
}

.navbar a:link {
	text-decoration: none;
	color: var(--background);
}
.navbar a:visited {
	text-decoration: none;
	color: var(--background);
}
.navbar a:hover {
	color: var(--accent);
}
.navbar a:active {
	text-decoration: none;
	color: var(--background);
}

.navbar li a#resume {
	border: 1px white;
	border-style: solid;
	border-radius: 5px;
	padding: 3px 4px;
}
.navbar li a#resume:hover{
	border-color: var(--accent);
	color: var(--accent);
}

.portrait {
	height: 200px;
	float: left;
}

.intro {
	display: inline-block;
	padding: 10px;
	margin: 10px;
}

.logoImage {
	height: 200px;
}

.sampleOutput {
	height: 200px;
}